{% extends 'layouts/layout.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}
    <h1>{{title}}</h1>
    <section>
        {% if messages %}
            {% for message in messages %}
                <div class="message alert-success message">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

        <div class="articles-list">
            {% include "tiendas/forTiendas.html" %}
        </div>

        {% include "mainApp/pagination.html" with results=tiendas %}
    </section>
{% endblock %}