{% extends 'layouts/layout.html' %}
{% block title %} {{ review.name }} {% endblock %}
{% block content %}
<section>
    <h2>
        <p>Edita Tu Reseña de este Producto:</p>
        <p>{{ review.producto.name }}</p>
        <p>{{ tienda.name }}</p>
    </h2>
    <div>
        <p><a href="{% url 'producto' review.producto.pk %}">Volver</a></p>
    </div>
    <div>
        {% if is_review_owner %}
        {{review.rating}}
        {{review.review_content}}
        <hr>
            <form method="post" action="">
                {% csrf_token %}
                {% for field in reviewForm %}
                <div class="form-group">
                    <label>{{ field.label_tag }}</label>
                    {{ field |safe }}
                    <div class="text-danger">{{ field.errors }}</div>
                </div>
                {% endfor %}
                <input type="submit" name="edit_review_submit" value="Actualizar Reseña"/>
            </form>
        {% else %}
            <h2>Acceso No Autorizado</h2>
        {% endif %}
    </div>
</section>
{% endblock %}